<!DOCTYPE html
    PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Exportando SCORMS</title>
    <style type="text/css">
        body {
            margin: 0;
            padding: 0;
        }

        p {
            display: block;
            margin: 13px 0;
        }
    </style>

    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&amp;display=swap" rel="stylesheet"
        type="text/css" />
    <style type="text/css">
        @import url(https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&amp;display=swap);
    </style>

</head>

<body style="background-color:#F4F5FB;">
    <div style="display:none;">
        Your instructor says:
    </div>

    <div style="background-color:#F4F5FB;">

        <div style="margin:0px auto;max-width:600px;">
            <table role="presentation" style="width:100%;">
                <tbody>
                    <tr>
                        <td style="padding: 10px;">
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

        <table style="margin: 0 auto; max-width: 600px;">
            <tr>
                <td>
                    <a href="">
                        <img src="https://uploads-ssl.webflow.com/64bff3e45c6b95a8533d823e/64c4250deaaf364653579f54_Sophia-banner-email.png"
                            style="max-width: 100%;border-radius: 20px;object-fit: cover; height: 225px" alt="">
                    </a>
                </td>
            </tr>
        </table>

        <!-- <div>
            <div
                style="background:url(https://uploads-ssl.webflow.com/64bff3e45c6b95a8533d823e/64c166bbe385aaa33aa168b2_image001.png)  center / auto no-repeat;height: 155px; margin:0px auto;border-radius:20px;max-width:600px; background-size: contain;">

            </div>
        </div> -->

        <div style="background:#F4F5FB;background-color:#F4F5FB;margin:0px auto;max-width:600px;">
            <table style="background:#F4F5FB;background-color:#F4F5FB;width:100%;">
                <tbody>
                    <tr>
                        <td style="padding:10px;">
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div style="background:#ffffff;background-color:#ffffff;margin:0px auto;border-radius:20px;max-width:600px;">
            <table>
                <tbody>
                    <tr>
                        <td style="padding:20px 0;">

                            <div>
                                <table>
                                    <tbody>
                                        <tr>
                                            <td style="padding:10px 25px;">
                                                <div
                                                    style="font-family:Montserrat, Helvetica, Arial, sans-serif;font-size:20px;font-weight:500;line-height:30px;text-align:left;color:#8189A9;">
                                                    Hello, {{username}}
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td style="padding:10px 25px;">
                                                <div
                                                    style="font-family:Montserrat, Helvetica, Arial, sans-serif;font-size:16px;font-weight:400;line-height:28px;text-align:left;color:#8189A9;">
                                                    <p>
                                                        Estimad@ {{Nombre del participante}},
                                                    </p>
                                                    <p>
                                                        Esperamos que estés disfrutando de tu experiencia con Sophia.
                                                    </p>
                                                    <p>
                                                        Nos complace informarte que hemos comenzado a generar el archivo
                                                        SCORM para el curso [Nombre del curso]. Este proceso puede
                                                        llevar algún tiempo, pero estamos trabajando diligentemente para
                                                        completarlo lo más rápido posible.
                                                    </p>

                                                    <div style="text-align: center;">
                                                        <img style="width: 100%;padding: 20px 0; "
                                                            src="https://media.tenor.com/rec5dlPBK2cAAAAd/mr-bean-waiting.gif" alt="">
                                                    </div>

                                                    <p>
                                                        Una vez que el archivo SCORM esté listo, recibirás una
                                                        notificación por correo electrónico con instrucciones sobre cómo
                                                        descargarlo. Esto te permitirá exportar el curso y utilizarlo en
                                                        otras plataformas de aprendizaje que admitan el formato SCORM.
                                                    </p>
                                                    <p>
                                                        Agradecemos tu paciencia durante este proceso. Si tienes alguna
                                                        pregunta o necesitas asistencia adicional, no dudes en ponerte
                                                        en contacto con nosotros.

                                                    </p>

                                                    <p>
                                                        Gracias por elegir Sophia para tus necesidades de formación y
                                                        capacitación.
                                                    </p>

                                                    <p>
                                                        Cordialmente,
                                                    </p>

                                                    <p>Equipo Sophia!</p>

                                                </div>

                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>

                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div style="margin:0px auto;max-width:600px;">
            <table role="presentation" style="width:100%;">
                <tbody>
                    <tr>
                        <td style="padding:15px;">
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div style="margin:0px auto;max-width:600px;">
            <table style="background-color:#edeef6;width:100%;border-radius:20px;">
                <tbody>
                    <tr>
                        <td style="padding:20px 0;">

                            <div style="width:100%;">
                                <table>
                                    <tbody>
                                        <tr>
                                            <td style="font-size:0px;padding:10px 25px;word-break:break-word;">
                                                <div
                                                    style="font-family:Montserrat, Helvetica, Arial, sans-serif;font-size:14px;font-weight:400;line-height:22px;text-align:center;color:#8189A9;">
                                                    © 2023 Sophia, Edutecno. Huérfanos #863.<br />
                                                    Galería España, Piso 2. Santiago, Chile</div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td style="padding:10px 25px;">
                                                <div
                                                    style="font-family:Montserrat, Helvetica, Arial, sans-serif;font-size:14px;font-weight:400;line-height:22px;text-align:center;color:#8189A9;">
                                                    Update your
                                                    <a class="footer-link" href="https://google.com"
                                                        style="color: #0078be; text-decoration: none; font-weight: 500;">email
                                                        preferences</a> to choose the types of emails you receive, or
                                                    you can <a href="https://google.com" class="footer-link"
                                                        style="color: #0078be; text-decoration: none; font-weight: 500;">
                                                        unsubscribe </a>from all future emails.
                                                </div>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>

                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div style="margin:0px auto;max-width:600px;">
            <table style="width:100%;">
                <tbody>
                    <tr>
                        <td style="padding:15px;">
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</body>

</html>