<!DOCTYPE html
    PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bienvenida Alumnos Sophia</title>
    <style type="text/css">
        body {
            margin: 0;
            padding: 0;
        }

        p {
            display: block;
            margin: 13px 0;
        }
    </style>

    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&amp;display=swap" rel="stylesheet"
        type="text/css" />
    <style type="text/css">
        @import url(https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&amp;display=swap);
    </style>

</head>

<body style="background-color:#F4F5FB;">
    <div style="display:none;">
        Your instructor says:
    </div>

    <div style="background-color:#F4F5FB;">

        <div style="margin:0px auto;max-width:600px;">
            <table role="presentation" style="width:100%;">
                <tbody>
                    <tr>
                        <td style="padding: 10px;">
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

        <table style="margin: 0 auto; max-width: 600px;">
            <tr>
                <td>
                    <a href="">
                        <img src="https://uploads-ssl.webflow.com/64bff3e45c6b95a8533d823e/64c4250deaaf364653579f54_Sophia-banner-email.png"
                            style="max-width: 100%;border-radius: 20px; height: 225px;object-fit: cover;" alt="">
                    </a>
                </td>
            </tr>
        </table>

        <!-- <div>
            <div
                style="background:url(https://uploads-ssl.webflow.com/64bff3e45c6b95a8533d823e/64c166bbe385aaa33aa168b2_image001.png)  center / auto no-repeat;height: 155px; margin:0px auto;border-radius:20px;max-width:600px; background-size: contain;">

            </div>
        </div> -->

        <div style="background:#F4F5FB;background-color:#F4F5FB;margin:0px auto;max-width:600px;">
            <table style="background:#F4F5FB;background-color:#F4F5FB;width:100%;">
                <tbody>
                    <tr>
                        <td style="padding:10px;">
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div style="background:#ffffff;background-color:#ffffff;margin:0px auto;border-radius:20px;max-width:600px;">
            <table>
                <tbody>
                    <tr>
                        <td style="padding:20px 0;">

                            <div>
                                <table>
                                    <tbody>
                                        <tr>
                                            <td style="padding:10px 25px;">
                                                <div
                                                    style="font-family:Montserrat, Helvetica, Arial, sans-serif;font-size:20px;font-weight:500;line-height:30px;text-align:left;color:#8189A9;">
                                                    Estimad@, {{username}}
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td style="padding:10px 25px;">
                                                <div
                                                    style="font-family:Montserrat, Helvetica, Arial, sans-serif;font-size:16px;font-weight:400;line-height:28px;text-align:left;color:#8189A9;">
                                                    <p>
                                                        ¡Bienvenid@ al curso {{courseName}}!
                                                    </p>
                                                    <p>
                                                        Nos complace que formes parte de este viaje de aprendizaje.
                                                        Sophia,
                                                        nuestra plataforma de generación de contenido basada en
                                                        Inteligencia
                                                        Artificial, ha diseñado este curso especialmente para ayudarte a
                                                        adquirir y robustecer tus conocimientos y habilidades.
                                                    </p>

                                                    <p>
                                                        El curso {{courseName}} comenzará el {{startDate}} y
                                                        finalizará el {{endDate}}. Durante este tiempo, te guiaremos
                                                        a
                                                        través de una serie de módulos de aprendizaje diseñados para
                                                        ayudarte a alcanzar tus objetivos de formación.
                                                    </p>

                                                    <div style="text-align: center;">
                                                        <img style="width: 100%;padding: 20px 0; "
                                                            src="https://media.tenor.com/j2vJg6CK4MgAAAAC/im-ready-cat.gif"
                                                            alt="">
                                                    </div>

                                                    <p>
                                                        Recuerda que Sophia está aquí para hacer que tu experiencia de
                                                        aprendizaje sea lo más fluida y eficiente posible. Si tienes
                                                        alguna
                                                        pregunta o necesitas ayuda en cualquier momento, no dudes en
                                                        ponerte
                                                        en contacto con nosotros escribiendo a hola@iasophia.com.

                                                    </p>

                                                    <p>
                                                        Estamos emocionados de comenzar este viaje de aprendizaje
                                                        contigo y
                                                        estamos seguros de que encontrarás el curso {{courseName}}
                                                        tanto enriquecedor como valioso.
                                                    </p>
                                                    <p>
                                                        Una vez más, ¡bienvenid@ al curso!
                                                    </p>



                                                    <p>
                                                        Cordialmente,
                                                    </p>

                                                    <p>Equipo Sophia!</p>
                                                </div>

                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>

                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div style="margin:0px auto;max-width:600px;">
            <table role="presentation" style="width:100%;">
                <tbody>
                    <tr>
                        <td style="padding: 10px;;">
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div style="margin:0px auto;max-width:600px;">
            <table style="background-color:#edeef6;width:100%;border-radius:20px;">
                <tbody>
                    <tr>
                        <td style="padding:20px 0;">

                            <div style="width:100%;">
                                <table>
                                    <tbody>
                                        <tr>
                                            <td style="font-size:0px;padding:10px 25px;word-break:break-word;">
                                                <div
                                                    style="font-family:Montserrat, Helvetica, Arial, sans-serif;font-size:14px;font-weight:400;line-height:22px;text-align:center;color:#8189A9;">
                                                    © 2023 Sophia, Edutecno. Huérfanos #863.<br />
                                                    Galería España, Piso 2. Santiago, Chile</div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td style="padding:10px 25px;">
                                                <div
                                                    style="font-family:Montserrat, Helvetica, Arial, sans-serif;font-size:14px;font-weight:400;line-height:22px;text-align:center;color:#8189A9;">
                                                    Update your <a class="footer-link" href="https://google.com"
                                                        style="color: #0078be; text-decoration: none; font-weight: 500;">email
                                                        preferences</a> to choose the types of emails you receive, or
                                                    you can <a href="https://google.com" class="footer-link"
                                                        style="color: #0078be; text-decoration: none; font-weight: 500;">
                                                        unsubscribe </a>from all future emails.</div>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>

                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div style="margin:0px auto;max-width:600px;">
            <table style="width:100%;">
                <tbody>
                    <tr>
                        <td style="padding:15px;">
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</body>

</html>